{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="body-container container-fluid">
    <div class="welcome-container row my-3">
        <div class="col">
            <h1>Welcome Back, Tony</h1>
            <h3>Today is <span id="show-date"></span></h3>
        </div>
    </div>
    <div class="appointment-container row my-3">
        <div class="col-12 mx-auto">
            <h4 class="d-inline-block">Upcoming Appointments</h4>
            <a href="{% url 'add_client' %}" class="d-inline-block float-right icon-btn">
                <i class="fas fa-user-plus"></i>
            </a>
            <a href="{% url 'add_app' %}" class="d-inline-block float-right icon-btn">
                <i class="fas fa-calendar-plus"></i>
            </a>
            <table class="table table-hover">
                <thead>
                    <th></th>
                    <th>Ref. No.</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Activity</th>
                </thead>
                <tbody>
                    <tr>
                        <!-- Limit To Next 5 or 10 Appointments 
                            {% for appointment in appointment %}
                                {% if forloop.counter >= 5 %}
                                    <tr></tr>
                                {% endif %}
                            {% endfor %}
                        -->
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'all_appointments' %}" class="float-right link-specs">View All</a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script>
        
        function updateTime() {
            var date = new Date;
            var now = moment().format("dddd, MMM Do, YYYY, h:mm A");
            $("#show-date").text(now);
        }
        updateTime();
        setInterval(updateTime, 60000);
    </script>
{% endblock%}