{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <h1>Welcome Back, Tony</h1>
    <h2>Today is <span id="show-date"></span></h2>
</div>
{% endblock %}

{% block postloadjs %}
    <script>
        $(document).ready(function(){
            console.log("hello");
        })
    </script>
{% endblock%}