{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block extra_title %}- Welcome{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="body-container container-fluid">
    <div class="welcome-container row my-3 px-5">
        <div class="col-12 col-lg-6">
            <h1>Welcome Back, Tony</h1>
            <h3>Today is <span id="show-date"></span></h3>
        </div>
        <div class="col-2 d-none d-lg-block"></div>
        <div class="col-12 col-lg-4">
            <form method="GET" action="{% url 'all_appointments' %}" class="search-form">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row my-3 px-5">
        <div class="col-10">
            <h4 class="d-inline-block">Upcoming Appointments</h4>
        </div>
        <div class="col-2">
            <div class="tooltip-container d-inline-block float-right">
                <span>New Client</span><span> </span>
                <a href="{% url 'add_client' %}" id="new-client-btn" class="d-inline-block float-right icon-btn" >
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
            <div class="tooltip-container d-inline-block float-right">
                <span>New Appointment</span><span> </span>
                <a href="{% url 'add_client' %}" id="new-appt-btn" class="d-inline-block float-right icon-btn" >
                    <i class="fas fa-calendar-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row px-5">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <th></th>
                    <th>Ref. No.</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Activity</th>
                    <th></th>
                </thead>
                <tbody>
                    {% if appointments %}
                        <!-- Limit To Next 5 or 10 Appointments -->
                        {% for appointment in appointments %}
                        <tr>
                            <td><a href="{% url 'view_app' appointment.appointment_number %}"><i class="fas fa-search"></i></a></td>
                            <td>{{ appointment.appointment_number }}</td>
                            <td>{{ appointment.appointment_date }}</td>
                            <td>{{ appointment.client }}</td>
                            <td>{{ appointment.activity }}</td>
                            <td class="delete-btn" data-appid="{{ appointment.appointment_number }}">
                                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteAppModal">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">You have no upcoming appointments</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'all_appointments' %}" class="float-right link-specs">View All</a>
        </div>
    </div>
</div>
{% include 'includes/modals/delete_app.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        function updateTime() {
            var date = new Date;
            var now = moment().format("dddd, MMM Do, YYYY, h:mm A");
            $("#show-date").text(now);
        }
        updateTime();
        setInterval(updateTime, 60000);
    </script>
    <script>
        $(".delete-btn").click(function(){
            var appId = $(this).attr("data-appid");
            $("#appIdText").text(appId);
            currentURL = window.location.href;
            newUrl = `${currentURL}/appointments/delete_appointment/${appId}`;
            $("#confirm-delete").click(function(){
                window.location = newUrl;
            })
        })
        $(".icon-btn").hover(function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeIn("fast");
        }, function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeOut("fast");
        })
    </script>
{% endblock%}