{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid body-container">
        <div class="header-container row my-3 px-5">
            <div class="col-12">
                <h1>Notfications</h1>
            </div>
        </div>
        <div class="row my-3 px-5">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Ref. No.</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteReadModal">
                                <i class="fas fa-trash text-danger"></i>
                            </button>
                        </th>
                    </thead>
                    <tbody>
                        {% if notifications %}
                        {% for note in notifications %}
                        <tr>
                            {% if note.read %}
                            <td></td>
                            {% else %}
                            <td><i class="fas fa-exclamation-circle text-primary ml-2"></i></td>
                            {% endif %}
                            <td>{{ note.reference }}</td>
                            <td>{{ note.date_created }}</td>
                            <td><a class="text-black" href="{% url 'view_notification' note.pk %}">{{ note.get_classification_display }} - {{ note.message }}</a></td>
                            <td>
                                <a href="{% url 'delete_note' note.pk %}" class="btn btn-light">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5">
                                You currently have no notifications
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'includes/modals/delete_read.html' %}
{% endblock %}