{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="d-inline-block">Onwards And Upwards Checkout</h3>
            </div>
        </div>
        <div id="appointment-details" class="row">
            <div class="col">
                <h4>Checkout Form For Appointment: {{ appointment.appointment_number }}</h4>
                <div class="row">
                    <div class="col-6">
                        Appointment Date:
                    </div>
                    <div class="col-6">
                        {{ appointment.appointment_date }} ({{ appointment.appointment_date|date:'d/m/Y' }})
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Appointment Time:
                    </div>
                    <div class="col-6">
                        {{ appointment.appointment_time|time:'H:i' }} ({{ appointment.course.length }} Hours)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Activity, Course:
                    </div>
                    <div class="col-6">
                        {{ appointment.activity }}, {{ appointment.course }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Booking Detail:
                    </div>
                    <div class="col-6">
                        {{ appointment.client.first_name }} {{ appointment.client.last_name }}
                    </div>
                </div>
            </div>
        </div>
        <div id="payment-details" class="row">
            <div class="col">
                Checkout Form
                <form method="POST" class="onwards-form mx-auto">
                    {% csrf_token %}
                    <input type="text" name="" placeholder="First Name">
                    <input type="text" name="" placeholder="Last Name">
                    <input type="text" name="" placeholder="Email Address">
                    <input type="text" name="" placeholder="Phone Number">
                    <input type="text" name="" placeholder="Street Address 1">
                    <input type="text" name="" placeholder="Street Address 2">
                    <input type="text" name="" placeholder="Town Or City">
                    <input type="text" name="" placeholder="Post Code">
                    <input type="text" name="" placeholder="Country">
                    <p>{{ appointment.appointment_price }}</p>
                    <p>({{ appointment.course.add_notes }})</p>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>

    </script>
{% endblock %}