{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/selects.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block extra_title %}- Add Appointment{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col-10 mx-auto mb-3">
                <h3>Add Appointment</h3>
            </div>
        </div>
        <div class="row">
            <div id="new-app-form" class="col-11 mx-auto">
                <form method="POST" action="{% url 'add_app' %}" enctype="multipart/form-data" class="onwards-form mx-auto">
                    {% csrf_token %}
                    {% if client %}
                        <div class="form-input">
                            <label for="client">Last Name</label>
                            <input type="text" id="" name="client" value="{{ client }}" readonly>
                        </div>
                        <input type="hidden" name="client" value="{{ client.pk }}">
                    {% else %}
                        <fieldset id="client-fieldset">
                            <p class="fieldset-header">Client Details</p>
                            <hr>
                            <div id="client-select" class="form-input onwards-select">
                                <input type="hidden" id="id_client" name="client">
                                <div class="onwards-select-display">
                                    <p>Select A Client</p>
                                    <span><i class="fas fa-chevron-down"></i></span>
                                </div>
                                <div class="onwards-select-items select-hide">
                                    <div data-pkey id="new-client-option">New Client</div>
                                    {% for client in clients %}
                                    <div data-pkey="{{ client.pk }}" data-first-name="{{ client.first_name }}"
                                    data-last-name="{{ client.last_name }}"
                                    data-email="{{ client.email_address }}"
                                    data-phone="{{ client.phone_number }}">
                                    {{ client.first_name }} {{ client.last_name }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="twoInput d-flex justify-content-between">
                                <div class="form-input">
                                    <label for="first_name">First Name</label>
                                    <input type="text" id="id_client_first_name" name="first_name">
                                </div>
                                <div class="form-input">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" id="id_client_last_name" name="last_name">
                                </div>
                            </div>
                            <div class="form-input">
                                <label for="email">Email Address</label>
                                <input type="email" id="id_client_email" name="email">
                            </div>
                            <div class="form-input">
                                <label for="phone">Phone Number</label>
                                <input type="text" id="id_client_phone" name="phone">
                            </div>
                        </fieldset>
                    {% endif %}
                    <fieldset>
                        <p class="fieldset-header">Appointment Details</p>
                        <hr>
                        <div class="form-input onwards-select">
                            <input type="hidden" id="id_activity_select" name="activity">
                            <div class="onwards-select-display">
                                <p>Select An Activity</p>
                                <span><i class="fas fa-chevron-down"></i></span>
                            </div>
                            <div class="onwards-select-items select-hide">
                                {% for activity in activities %}
                                <div data-pkey="{{ activity.pk }}">{{ activity.friendly_name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="course-select" class="form-input onwards-select">
                            <input type="hidden" id="id_course" name="course">
                            <div class="onwards-select-display">
                                <p>Select A Course</p>
                                <span><i class="fas fa-chevron-down"></i></span>
                            </div>
                            <div class="onwards-select-items select-hide">
                                {% for course in courses %}
                                <div class="d-none" data-pkey="{{ course.pk }}" data-activity="{{ course.activity.pk }}" data-solo="{{ course.solo }}" data-price="{{ course.price }}">{{ course.friendly_name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-input solo-input d-flex justify-content-around">
                            <p id="soloText" class="text-orange">Solo</p>
                            <label class="switch">
                                <input id="id_solo" name="isSolo" checked="true" type="checkbox"><span class="slider round"></span>
                            </label>
                            <p id="groupText">Group</p>
                        </div>
                        <div class="form-input">
                            <label for="appointment_participants">Number Of Participants</label>
                            <input type="number" id="id_number_participants" name="appointment_participants">
                        </div>
                        <div class="twoInput d-flex justify-content-between">
                            <div id="date-container" class="form-input">
                                <label for="appointment_date">Date</label>
                                <input type="text" id="id_date" name="appointment_date" readonly>
                                {% include 'includes/modals/datepicker.html' %}
                            </div>
                            <div class="form-input">
                                <label for="appointment_time">Time</label>
                                <input type="text" id="id_time" name="appointment_time">
                            </div>
                        </div>
                        <div class="form-input">
                            <label for="appointment_location">Location</label>
                            <input type="text" id="id_location" name="appointment_location">
                        </div>
                        <div class="form-input price-input">
                            <label for="appointment_price">Price</label>
                            <input type="number" id="id_price" name="appointment_price" readonly>
                            <span id="currency-sym"></span>
                        </div>
                        <div class="form-input checkbox-input no-border d-flex justify-content-end">
                            <p>Override Price?</p>
                            <label class="ck-container">
                                <input type="checkbox" id="id_override_price" name="override_price">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div id="radio-input" class="form-input radio-input checkbox-input no-border">
                            <div class="d-flex justify-content-around">
                                <p>0%</p>
                                <label class="ck-container">
                                    <input type="radio" checked="checked" name="discount" value="0">
                                    <span class="checkmark"></span>
                                </label>
                                <p>-10%</p>
                                <label class="ck-container">
                                    <input type="radio" name="discount" value="10">
                                    <span class="checkmark"></span>
                                </label>
                                <p>-25%</p>
                                <label class="ck-container">
                                    <input type="radio" name="discount" value="25">
                                    <span class="checkmark"></span>
                                </label>
                                <p>-50%</p>
                                <label class="ck-container">
                                    <input type="radio" name="discount" value="50">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-input textarea-input">
                            <label for="add_notes">Additional Notes</label>
                            <textarea name="add_notes"></textarea>
                        </div>
                    </fieldset>
                    <div class="form-input">
                        <input type="submit" class="d-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/selects.js' %}"></script>
    <script src="{% static 'js/appointment.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script type="text/javascript">
        $(".form-input").focusin(function(){
            $(this).addClass("activeInput");
        })
        $(".form-input").focusout(function(){
            $(this).removeClass("activeInput");
        })
        $(".form-input input[type='text']").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $(".form-input input[type='number']").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $(".form-input textarea").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $(".form-input input[type='email']").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        })
    </script>
{% endblock %}