{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3>Add Appointment</h3>
            </div>
        </div>
        <div class="row">
            <div id="new-app-form" class="col-11 mx-auto">
                <form method="POST" action="{% url 'add_app' %}" enctype="multipart/form-data" class="onwards-form mx-auto">
                    {% csrf_token %}
                    {% if client %}
                        <input id="id_client" type="text" value="{{ client }}" readonly>
                        <input type="hidden" name="client" value="{{ client.pk }}">
                    {% else %}
                        <p>Client Details</p>
                        <select id="client_select" name="client_select">
                            <!-- How to specificy a new client -->
                            <option selected disabled>Select A Client</option>
                            {% for client in clients %}
                            <option value="{{ client.pk }}" data-first-name="{{ client.first_name }}" data-last-name="{{ client.last_name }}" data-email="{{ client.email_address }}" data-phone="{{ client.phone_number }}">
                                {{ client.first_name }} {{ client.last_name }}
                            </option>
                            {% endfor %}
                        </select>
                        <input type="text" id="id_client_first_name" name="first_name" placeholder="First Name">
                        <input type="text" id="id_client_last_name" name="last_name" placeholder="Last Name">
                        <input type="email" id="id_client_email" name="email" placeholder="Email Address">
                        <input type="text" id="id_client_phone" name="phone" placeholder="Phone Number">
                    {% endif %}
                    <p>Appointment Details</p>
                    <select id="id_activity_select" name="activity">
                        <option selected disabled>Select An Activity</option>
                        {% for activity in activities %}
                        <option  value="{{ activity.pk }}">{{ activity.friendly_name }}</option>
                        {% endfor %}
                    </select>
                    <select id="id_course" name="course">
                        <option selected disabled value="0">Select A Course</option>
                        {% for course in courses %}
                            <option class="d-none" data-activity="{{ course.activity.pk }}" data-solo="{{ course.solo }}" data-price="{{ course.price }}" value="{{ course.course_code }}">{{ course.friendly_name }} {% if course.solo %} {% endif %}</option>
                        {% endfor %}
                    </select>
                    <label for="id_solo">Solo/ Group
                        <input type="checkbox" id="id_solo" name="isSolo" checked="true">
                    </label>
                    <input type="number" id="id_number_participants" name="appointment_participants" placeholder="Number Of Participants">
                    <input type="text" id="id_date" name="appointment_date" placeholder="Select A Date (YYYY-MM-DD)">
                    <input type="text" id="id_time" name="appointment_time" placeholder="Select A Time">
                    <input type="text" id="id_location" name="appointment_location" placeholder="Select A Location">
                    <input type="text" id="id_price" name="appointment_price" readonly placeholder="Select A Price">
                    <label for="override_price">Override Price?</label>
                    <input type="checkbox" id="id_override_price" name="override_price">
                    <input type="submit" class="d-block">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}