{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block extra_title %}- All Appointments{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div id="welcome-container" class="row px-5">
            <div class="col-12 col-lg-6">
                <h3 class="d-inline-block">All Appointments</h3>
            </div>
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-12 col-lg-4">
                <form method="GET" action="{% url 'all_appointments' %}" class="search-form">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                {% if search_term %}
                <div>
                    <span class="search-term">"{{ search_term }}" <i class="fas fa-times"></i></span>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="upcoming-appointments" class="row my-3 px-3 px-lg-5">
            <div class="col">
                <div class="row">
                    <div class="col-10">
                        <h4>Upcoming Appointments</h4>
                    </div>
                    <div class="col-2">
                        <div class="tooltip-container">
                            <span>New Session</span><span> </span>
                            <a href="{% url 'add_app' %}" id="new-appt-btn" class="d-inline-block float-right icon-btn" >
                                <i id="no-search" class="fas fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th data-sort="appNum"
                        {% if current_sorting == 'appNum' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Ref. No.<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="date"
                        {% if current_sorting == 'date' %}
                            {% if current_direction == 'asc' %}
                            class="thead-sort thead-curr"
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Date<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="client"
                        {% if current_sorting == 'client' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Client<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="activity"
                        {% if current_sorting == 'activity' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Activity<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for appointment in up_apps %}
                            <tr>
                                <td><a href="{% url 'view_app' appointment.appointment_number %}"><i class="fas fa-search"></i></a></td>
                                <td>{{ appointment.appointment_number }}</td>
                                <td>{{ appointment.appointment_date }}</td>
                                <td>{{ appointment.client }}</td>
                                <td>{{ appointment.activity }} - {{ appointment.course }}</td>
                                <td class="delete-btn" data-appid="{{ appointment.appointment_number }}">
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteAppModal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">You have no upcoming appointments</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="past-appointments" class="row my-3 px-3 px-lg-5">
            <div class="col">
                <h4>Past Appointments</h4>
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th data-sort="appNum"
                        {% if current_sorting == 'appNum' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Ref. No.<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="date"
                        {% if current_sorting == 'date' %}
                            {% if current_direction == 'asc' %}
                            class="thead-sort thead-curr"
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Date<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="client"
                        {% if current_sorting == 'client' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Client<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th data-sort="activity"
                        {% if current_sorting == 'activity' %}
                            class="thead-sort thead-curr"
                            {% if current_direction == 'asc' %}
                            data-dir="desc"
                            {% else %}
                            data-dir="asc"
                            {% endif %}
                        {% else %}
                            class="thead-sort"
                            data-dir="desc"
                        {% endif %}>Activity<span class="float-right"><i class="fas fa-chevron-down"></i></span></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for appointment in past_apps %}
                            <tr>
                                <td><a href="{% url 'view_app' appointment.appointment_number %}"><i class="fas fa-search"></i></a></td>
                                <td>{{ appointment.appointment_number }}</td>
                                <td>{{ appointment.appointment_date }}</td>
                                <td>{{ appointment.client }}</td>
                                <td>{{ appointment.activity }} - {{ appointment.course }}</td>
                                <td class="delete-btn" data-appid="{{ appointment.appointment_number }}">
                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteAppModal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">You have no past appointments</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'includes/modals/delete_app.html' %}
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script>
        $(".delete-btn").click(function(){
            var appId = $(this).attr("data-appid");
            $("#appIdText").text(appId);
            currentURL = window.location.href;
            newUrl = `${currentURL}delete_appointment/${appId}`;
            $("#confirm-delete").click(function(){
                window.location = newUrl;
            })
        })
        $(".search-term").click(function(){
            var currentUrl = new URL(window.location);
            currentUrl.searchParams.delete("q");
            window.location.replace(currentUrl);
        })
        $(".icon-btn").hover(function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeIn("fast");
        }, function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeOut("fast");
        })
        
        $('thead th.thead-sort').click(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var sort = selector.attr("data-sort");
            var direction = selector.attr("data-dir")
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            window.location.replace(currentUrl);
        })
    </script>
{% endblock %} 