{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}- View Appointment{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="header-container row">
            <div class="col">
                <div class="row">
                    <div class="col-11">
                        <h3><a href="{% url 'home' %}">All Appointments</a><i class="fas fa-chevron-right"></i>View Appointment</h3>
                    </div>
                    <div class="col-1 d-flex align-items-center text-center">
                        <a href="{% url 'edit_app' appointment.appointment_number %}" class="icon-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'delete_app' appointment.appointment_number %}" class="icon-btn">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>{{ appointment.appointment_number }} - {{ appointment.created_date }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-client-container" class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <h4>Appointment Details:</h4>
                        <div class="row">
                            <div class="col-6">
                                <p>Activity:</p>
                                <p>Course:</p>
                            </div>
                            <div class="col-6">
                                <p>{{ appointment.activity }}</p>
                                <p>{{ appointment.course }} ({{ appointment.course.course_code }})</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Date:</p>
                            </div>
                            <div class="col-6">
                                {{ appointment.appointment_date }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Time:</p>
                            </div>
                            <div class="col-6">
                                {{ appointment.appointment_time }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Location:</p>
                            </div>
                            <div class="col-6">
                                {{ appointment.appointment_location }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Number Of Participants:</p>
                            </div>
                            <div class="col-6">
                                {% if appointment.isSolo %}
                                    Solo
                                {% else %}
                                    {{ appointment.appointment_participants }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Paid?</p>
                            </div>
                            <div class="col-6">
                                {% if appointment.isPaid %}
                                    <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fas fa-times-circle text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button><a href="">Send Payment Request</a></button>
                            </div>
                            <div class="col-6">
                                {% if not appointment.isPaid %}
                                <button><a href="{% url 'mark_as_paid' appointment.appointment_number %}">Mark as Paid</a></button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Additional Notes:</p>
                            </div>
                            <div class="col-6">
                                <p>{{ appointment.additional_notes }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Client Details:</h4>
                        <div class="row">
                            <div class="col-6">
                                <p>Full Name:</p>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'view_client' appointment.client.id %}">{{ appointment.client }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Email Address:</p>
                            </div>
                            <div class="col-6">
                                <p>{{ appointment.client.email_address }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Phone Number:</p>
                            </div>
                            <div class="col-6">
                                <p>{{ appointment.client.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-6">
                            <h4>Participants Details:</h4>
                            {% if participants %}
                                {% for part in participants %}
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Full Name:</p>
                                        </div>
                                        <div class="col-6">
                                            <a href="{% url 'view_participant' part.pk %}">{{ part.first_name }} {{ part.last_name }}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Date Of Birth:</p>
                                        </div>
                                        <div class="col-6">
                                            {{ part.date_of_birth }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Risk Acknowledgement Form:</p>
                                        </div>
                                        <div class="col-6">
                                            Form will go here
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button>Convert to Client</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>This appointment currently has no participants yet</p>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}