{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}- View Appointment{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="header-container row">
            <div class="col-11 mx-auto">
                <div class="row mb-3">
                    <div class="col-9 onwards-header">
                        <h3 class="d-inline-block"><a class="link-specs" href="{% url 'home' %}">All Sessions</a></h3>
                        <i class="fas fa-chevron-right"></i>
                        <h4 class="link-sibling d-inline-block">View Sessions</h4>
                    </div>
                    <div class="col-3 d-flex justify-content-end text-center">
                        <div class="tooltip-container d-inline-block float-right">
                            <span>Edit Session</span><span> </span>
                            <a href="{% url 'edit_app' appointment.appointment_number %}" class="icon-btn">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="tooltip-container d-inline-block float-right">
                            <span>Delete Session</span><span> </span>
                            <a href="{% url 'delete_app' appointment.appointment_number %}" class="icon-btn">
                                <i class="fas fa-trash text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-client-container" class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        <h4 class="text-underline">Appointment Details:</h4>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Appointment Number:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.appointment_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Date Created:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.created_date|date:"d-m-Y, G:i" }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Activity:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.activity }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Course:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.course }} ({{ appointment.course.course_code }})</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Date:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                {{ appointment.appointment_date }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Time:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                {{ appointment.appointment_time }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Location:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                {{ appointment.appointment_location }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Number Of Participants:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                {% if appointment.isSolo %}
                                    Solo
                                {% else %}
                                    {{ appointment.appointment_participants }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Additional Notes:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.additional_notes }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Paid?</p>
                            </div>
                            <div class="col-6">
                                {% if appointment.isPaid %}
                                    <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fas fa-times-circle text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% if not appointment.isPaid %}
                            <div class="col-6 d-flex justify-content-center">
                                <button class="onwards-button"><a href="">Send Payment Request</a></button>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <button class="onwards-button"><a href="{% url 'mark_as_paid' appointment.appointment_number %}">Mark as Paid</a></button>
                            </div>
                            {% else %}
                            <div class="col-6 font-futura-medium">
                                Date Paid:
                            </div>
                            <div class="col-6 font-futura-light">
                                {{ payment.date }}
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <h4 class="text-underline d-inline-block">Client Details:</h4>
                        <div class="tooltip-container d-inline-block">
                            <span>View Client</span><span> </span>
                            <a class="text-black mx-3 icon-btn" href="{% url 'view_client' appointment.client.id %}"><i class="fas fa-search"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Full Name:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p class="d-inline-block">{{ appointment.client }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Email Address:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.client.email_address }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Phone Number:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ appointment.client.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            <h4 class="text-underline">Participants Details:</h4>
                            {% if participants %}
                                {% for part in participants %}
                                    <div class="row my-3">
                                        <div class="col-2">
                                            <div class="tooltip-container d-inline-block float-right">
                                                <span>View Participant</span><span> </span>
                                                <a class="text-black mx-3 icon-btn" href="{% url 'view_participant' part.pk  %}?appId={{appointment.appointment_number}}"><i class="fas fa-search"></i></a>
                                            </div>
                                            <div class="tooltip-container d-inline-block">
                                                <span>Remove From Session</span><span> </span>
                                                <a class="text-danger mx-3 icon-btn" href="{% url 'remove_participant' %}?partId={{ part.pk }}&appId={{ appointment.appointment_number }}"><i class="fas fa-user-minus"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-6 font-futura-medium">
                                                    <p>Full Name:</p>
                                                </div>
                                                <div class="col-6 font-futura-light">
                                                    <p class="d-inline-block">{{ part.first_name }} {{ part.last_name }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 font-futura-medium">
                                                    <p>Date Of Birth:</p>
                                                </div>
                                                <div class="col-6 font-futura-light">
                                                    {{ part.date_of_birth }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 font-futura-medium">
                                                    <p>Risk Acknowledgement Form:</p>
                                                </div>
                                                <div class="col-6 font-futura-light">
                                                    Form will go here
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% else %}
                                <p class="font-futura-light">This appointment currently has no participants yet</p>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(".icon-btn").hover(function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeIn("fast");
        }, function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeOut("fast");
        });
    </script>
{% endblock %}