{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
{% endblock %}

{% block extra_title %}- Risk Acknowledgment Form{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col-10 mx-auto mb-3">
                <h3>Add Participant Form</h3>
                {% if multiple %}
                <h4>Appointments: {% for app in rel_apps %}{{ app.appointment_number}} {% endfor %}</h4>
                {% else %}
                <h4>Appointment: {{ appointment.appointment_number }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-11 mx-auto">
                <form method="POST" class="onwards-form mx-auto" id="ra-form" action="{% url 'add_part_form' appointment.appointment_number %}">
                    {% csrf_token %}
                    <fieldset>
                        <p>Participant Details</p>
                        <hr>
                        <div class="twoInput d-flex justify-content-between">
                            <div class="form-input">
                                <label for="first_name">First Name *</label>
                                <input type="text" name="first_name" required>
                            </div>
                            <div class="form-input">
                                <label for="first_name">Last Name *</label>
                                <input type="text" name="last_name" required>
                            </div>
                        </div>
                        <div class="form-input">
                            <label for="date_of_birth">Date Of Birth *</label>
                            <input type="text" id="id_date" name="date_of_birth" readonly required>
                            {% include 'includes/modals/datepicker.html' %}
                        </div>
                        <div class="form-input">
                            <label for="email_address">Email Address *</label>
                            <input type="email" name="email_address" required>
                        </div>
                        <div class="form-input">
                            <label for="phone_number">Phone Number *</label>
                            <input type="text" name="phone_number" required>
                        </div>
                        <div class="form-input">
                            <label for="address1">Address Line 1 *</label>
                            <input type="text" name="address_line1" required>
                        </div>
                        <div class="form-input">
                            <label for="address2">Address Line 2</label>
                            <input type="text" name="address_line2">
                        </div>
                        <div class="form-input">
                            <label for="address3">Address Line 3</label>
                            <input type="text" name="address_line3">
                        </div>
                        <div class="twoInput d-flex justify-content-between">
                            <div class="form-input">
                                <label for="town_or_city">Town Or City *</label>
                                <input type="text" name="town_or_city" required>
                            </div>
                            <div class="form-input">
                                <label for="postcode">Post Code *</label>
                                <input type="text" name="postcode" required>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <p>Emergency Contact</p>
                        <hr>
                        <div class="form-input">
                            <label for="emergency_name">Emergency Contact Name *</label>
                            <input type="text" name="emergency_contact_name" required>
                        </div>
                        <div class="form-input">
                            <label for="emergency_number">Emergency Contact Number *</label>
                            <input type="text" name="emergency_contact_number" required>
                        </div>
                    </fieldset>
                    <fieldset>
                        <p>Declaration Of Fitness</p>
                        <hr>
                        <div class="form-input textarea-input">
                            <label for="dec_illness">
                                Please declare any recent or ongoing injury/condition/illness*:
                            </label>
                            <textarea name="dec_illness" id="dec_illness" required></textarea>
                        </div>
                        <div class="form-input textarea-input">
                            <label for="dec_medication">
                                Please declare any medication recently or currently taken*:
                            </label>
                            <textarea name="dec_medication" id="dec_med" required></textarea>
                        </div>
                        <div class="form-input no-border checkbox-input d-flex justify-content-between">
                            <p class="small font-futura-light">I certify that to the best of my knowledge I do not suffer from a medical condition which might have the effect of making it more likely that I could be involved in an accident resulting in injury to myself or others.</p>
                            <label class="ck-container">
                                <input type="checkbox" id="dec_abs_cond" name="dec_abs_cond">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-input no-border checkbox-input d-flex justify-content-between">
                            <p class="small font-futura-light">If you do not wish to be photographed for the purposes of our own marketing then please check this box.</p>
                            <label class="ck-container">
                                <input type="checkbox" id="media_acceptance" name="media_acceptance">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="hidden" name="acknowledgement_of_risk" id="acknowledgement_of_risk">
                        <input type="hidden" name="signed_by" id="signed_by">
                        <input type="hidden" name="date_signed" id="date_signed">
                        {% if multiple %}
                        <input type="hidden" name="appointment_number" value="{{appStr}}">
                        <input type="hidden" name="multiple" value="true">
                        {% else %}
                        <input type="hidden" name="appointment_number" value="{{appointment.appointment_number}}">
                        <input type="hidden" name="multiple" value="false">
                        {% endif %}
                    </fieldset>
                    <button type="button" class="submit-button" data-toggle="modal" data-target="#confirmRAModal" id="openRAModal-btn">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% include 'includes/modals/confirm_raform.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var input;
            var allTextInputs = $("input[type='text']");
            for(let i=0;i<allTextInputs.length;i++){
                input = allTextInputs[i];
                inputVal = input.value;
                if(typeof(inputVal) !== 'undefined'){
                    if(inputVal.length > 0){
                        input.parentElement.classList.add("stickLabel");
                    }
                }
            };
            var allEmailInputs = $("input[type='email']");
            for(let i=0;i<allEmailInputs.length;i++){
                input = allEmailInputs[i];
                inputVal = input.value;
                if(typeof(inputVal) !== 'undefined'){
                    if(inputVal.length > 0){
                        input.parentElement.classList.add("stickLabel");
                    }
                }
            };
            var allNumInputs = $("input[type='number']");
            for(let i=0;i<allNumInputs.length;i++){
                input = allNumInputs[i];
                inputVal = input.value;
                if(typeof(inputVal) !== 'undefined'){
                    if(inputVal.length > 0){
                        input.parentElement.classList.add("stickLabel");
                    }
                }
            };
            var allTextareas = $("textarea");
            for(let i=0;i<allTextareas.length;i++){
                input = allTextareas[i];
                inputVal = input.value;
                if(typeof(inputVal) !== 'undefined'){
                    if(inputVal.length > 0){
                        input.parentElement.classList.add("stickLabel");
                    }
                }
            };
        });
        $(".form-input").focusin(function(){
            $(this).addClass("activeInput");
        })
        $(".form-input").focusout(function(){
            $(this).removeClass("activeInput");
        })
        $(".form-input input[type='text']").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $(".form-input input[type='email']").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $(".form-input textarea").change(function(){
            var inputVal = $(this).val();
            if(typeof(inputVal) !== 'undefined'){
                if(inputVal.length > 0){
                    $(this).parent().addClass("stickLabel");
                } else {
                    $(this).parent().removeClass("stickLabel");
                }
            }
        });
        $("#dec_abs_cond").change(function(){
            if($(this).is(":checked")){
                var decIllness = $("#dec_illness").val()
                var decMed = $("#dec_med").val();
                if(decIllness.length > 0 || decMed.length > 0){
                    if(decIllness == "N/A" && decMed == "N/A"){
                        $("#dec_illness").trigger('change');
                        $("#dec_illness").attr("readonly", true)
                        $("#dec_med").trigger('change');
                        $("#dec_med").attr("readonly", true);
                        return;
                    }
                    $("#dec_abs_cond").prop("checked", false);
                } else {
                    $("#dec_illness").val("N/A");
                    $("#dec_illness").trigger('change');
                    $("#dec_illness").attr("readonly", true);
                    $("#dec_med").val("N/A");
                    $("#dec_med").trigger('change');
                    $("#dec_med").attr("readonly", true);
                }
            } else {
                $("#dec_illness").val("");
                $("#dec_illness").trigger('change');
                $("#dec_illness").attr("readonly", false);
                $("#dec_med").val("");
                $("#dec_med").trigger('change');
                $("#dec_med").attr("readonly", false);
            }
        });
        $("#openRAModal-btn").click(function(e){
            e.stopPropagation();
            var form = $("#ra-form");
            form.validate();
            if(form.valid()){
                $("#confirmRAModal").modal('show');
            } else {
                console.log("error in form")
            }
        })
        $("#confirm-btn").click(function(e){
            e.stopPropagation();
            var signName = $("input[name='signing-input']").val();
            var signDate = $("input[name='date-input']").val();
            if($("#ack_checkbox").is(":checked")){
                if(signName.length > 0 && signDate.length > 0){
                    $("#error-message").text("");
                    $("#signed_by").val(signName);
                    if(checkDateValidation(signDate)){                    
                        arrangeDate = signDate.split("/");
                        signDate = arrangeDate[1]+"/"+arrangeDate[0]+"/"+arrangeDate[2]
                        $("#date_signed").val(signDate);
                        $("#acknowledgement_of_risk").val(true);
                        $("#ra-form").submit();
                    };
                } else {
                    $("#error-message").text("Please ensure the form is valid");
                }
            } else {
                $("#error-message").text("You must acknowledge the risk to continue");
            }
        })
        function checkDateValidation(date){
            var splitDate = date.split("/");
            if(splitDate.length != 3){
                $("#error-message").text("Please enter a valid date.");
                return false;
            }
            var day = splitDate[0];
            if(day.length!=2){
                $("#error-message").text("Please enter a valid date.");
                return false;
            }
            var month = splitDate[1];
            if(month.length!=2){
                $("#error-message").text("Please enter a valid month.");
                return false;
            }
            var year = splitDate[2];
            if(year.length!=4){
                $("#error-message").text("Please enter a valid year.");
                return false;
            }
            var fullDate = new Date;
            var thisYear = fullDate.getFullYear();
            var thisMonth = fullDate.getMonth() + 1;
            var thisDay = fullDate.getDate();
            if(parseInt(day) != thisDay){
                $("#error-message").text("You must sign this document with today's date");
                return false;
            }
            if(parseInt(month) != thisMonth){
                $("#error-message").text("You must sign this document with today's date.");
                return false;
            }
            if(parseInt(year) != thisYear){
                $("#error-message").text("You must sign this document with today's date.");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}