{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid body-container">
        <div class="row mb-3">
            <div class="col-11 mx-auto">
                <h4>Before you progress, we ask that you read the information below</h4>
                <h5>{{ appointment.activity }} {{ appointment.course }}</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-11 mx-auto">
                <h3 class="text-underline text-center">Terms And Conditions</h3>
                <div class="row">
                    <div class="col-12 font-futura-light">
                        <p>Onwards and Upwards Outdoor Adventures is committed to respecting the privacy rights of
                        patrons, customers, partners and visitors. This privacy notice should be read in conjunction
                        with the Terms and Conditions of Use for our website.<br>
                        This privacy notice explains how we collect, use and store information about you. It
                        provides you with details about the types of personal data that we collect, how we
                        use your personal data and the rights you have to control our use of your personal
                        data. Periodic reviews of this notice will be carried out and we will make you aware
                        of any changes that affect you directly by updating this webpage.<br>
                        Please consider this privacy notice carefully. We also recommend that you print and
                        retain a copy for your future reference. By accessing, browsing or otherwise using
                        our website, you confirm that you have read, understood and agree to this privacy
                        notice in its entirety. If you do not agree to this privacy notice in its entirety, we
                        advise you not to use our website.<br>
                        Lawful treatment of your personal data helps us maintain your confidence and aids
                        us in the successful delivery of our operations.</p>
                        <h4>Who Are We?</h4>
                        <p>Onwards and Upwards Outdoor Adventures operates as a sole-trader company out 16
                        Long Grey, Fleckney, Leicestershire LE8 8TB.<br>
                        We respect your right to privacy and will only process personal data you provide to
                        us in accordance with the GDPR 2018, Data Protection Act 2018 and other
                        applicable privacy laws. If you have any questions about how we collect, store and
                        use personal data, or if you have any other privacy-related questions, please contact
                        us by email info@onwards-and-upwards.com. Further information can be obtained
                        from <a href="www.ico.org.uk" target="_blank" class="text-orange">www.ico.org.uk</a>.</p>
                        <h4>Personal Data</h4>
                        <p>Under the EU’s General Data Protection Regulation (GDPR) personal data is defined as:<br>
                        “any information relating to an identified or identifiable natural person (‘data subject’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person” 
                        <br>
                        When you engage with Onwards and Upwards Outdoor Adventures we may collect data about you, including personal information, when you use our website and
                        interact with us in any way; including face-to-face, via email, via phone. Personal information refers to any information that can be used to identify you as an individual, including: name, address, email address, contact number, health and wellbeing (including sensitive data, such as medical conditions), marketing preferences and social media account information.
                        <br>
                        We may also collect personal data for the purpose of equal opportunities monitoring within Onwards and Upwards Outdoor Adventures to ensure that we work to challenge discrimination, encourage inclusive practices and work for positive
                        change, in line with our Equality Policy.
                        <br>
                        The personal data we collect about you will be used (in line with GDPR 2018) for the following purposes:</p>
                        <ul>
                            <li>Respond to your enquiries</li>
                            <li>Process and fulfil bookings</li>
                            <li>To carry out our obligations arising from any contracts entered into by you and us</li>
                            <li>The administration of files and records</li>
                            <li>Provide you with information about Onwards and Upwards Outdoor Adventures and its services, using email alerts, where you have given implicit
                            consent to do so</li>
                            <li>Provide customer service</li>
                            <li>Managing a job application</li>
                            <li>Improving the website by monitoring how you use it</li>
                            <li>Disclosure to Onwards and Upwards Outdoor Adventures to enable us to fulfil our obligations to you</li>
                        </ul>
                        <p>If you have questions or concerns regarding the above processing please email <span class="text-orange">info@onwards-and-upwards.com</span>. Our legal basis for processing for your personal data:</p>
                        <ul>
                            <li>Contract or service – eg. Making the website available to you or to maintain any registered account you hold with us.</li>
                            <li>Legal obligation – eg. For any related purposes, or where we have a legal right or duty to use or disclose your information (including for crime / fraud prevention and related purposes).</li>
                            <li>Consent – eg. Consenting to photographs which are used on our media platforms</li>
                            <li>Vital Interests – eg. Collection of medical information that would be used to save someone’s life</li>
                            <li>Legitimate interests – eg. To contact you about promotional offers and products/services which we think may interest you based upon the Onwards and Upwards Outdoor Adventures products/services that you already use. <br>Data is also used for customer satisfaction and market research purposes.</li>
                        </ul>
                        <p>In addition, we may collect anonymised details about visitors to our website for the purposes of aggregate statistics or reporting purposes. However, no single individual will be identifiable from the anonymised details that we collect for these purposes.</p>
                        <h4>Consent as a basis for processing</h4>
                        <p>Where consent is required for LOAI to process personal data, it must be explicitly given. Where we are asking you for sensitive personal data we will always tell you why and how the information will be used.<br>
                        You may withdraw consent at any time by emailing <span class="text-orange">info@onwards-and-upwards.com</span>.</p>
                        <p>Disclosure / Third Party Processing<br>
                        The information that we collect can be viewed by authorised employees of Onwards and Upwards Outdoor Adventures and some information may be passed to a select few trusted third parties to:</p>
                        <ul>
                            <li>For monitoring and evaluation purposes, where data will be encrypted</li>
                            <li>Respond to your enquiries</li>
                            <li>Process and fulfil orders</li>
                            <li>Provide you with information about Onwards and Upwards Outdoor Adventures and its services, using email alerts, where you have given implicit
                            consent to do so</li>
                            <li>Provide customer service</li>
                            <li>Managing a job application</li>
                            <li>Improving the website by monitoring how you use it</li>
                            <li>To enable us to fulfil our obligations to you</li>
                        </ul>
                        <p>We may need to pass your personal data on to third parties, where there is a legal obligation to do so. However, we will not share your information with any other organisations for them to use it for marketing, market research or other commercial purposes, without your consent to do so.</p>
                        <h4>Your rights as a data subject</h4>
                        <p>At any point while we are in possession of or processing your personal data, you, the data subject, have the following rights:</p>
                        <ul>
                            <li>Right of access – you have the right to request a copy of the information that we hold about you.</li>
                            <li>Right of rectification – you have a right to correct data that we hold about you that is inaccurate or incomplete.</li>
                            <li>Right to be forgotten – in certain circumstances you can ask for the data we hold about you to be erased from our records.</li>
                            <li>Right to restriction of processing – where certain conditions apply, to have a right to restrict the processing.</li>
                            <li>Right of portability – you have the right to have the data we hold about you transferred to another organisation.</li>
                            <li>Right to object – you have the right to object to certain types of processing such as direct marketing.</li>
                            <li>Right to object to automated processing, including profiling – you also have the right to be subject to the legal effects of automated processing or profiling.</li>
                            <li>Right to judicial review – In the event that Onwards and Upwards Outdoor Adventures refuses your request under rights of access, we will provide you with a reason as to why. You have the right to complain as outlined in the ‘Complaints’ section below.</li>
                        </ul>
                        <p>All of the above requests will be forwarded on should there be a third party involved
                        (as stated in the ‘Disclosure/third party processing’ section) in the processing of your personal data.
                        <br>
                        16 or Under – We are committed to protect the privacy of children aged 16 or under. If you are aged 16 or under, please get your parent/guardian’s permission beforehand whenever you provide us with personal information.</p>
                        <h4>Retention Period</h4>
                        <p>We will retain your personal information only as long as needed to fulfil the purposes
                        for which it was collected. We will retain your personal information to comply with our business requirements, legal obligations, resolve disputes, protect our assets and enforce our agreements.<br>
                        You can request from us details of what information we hold about you and ask us to provide a copy at any time.<br>
                        If you have signed up to email alerts or newsletters, you can change your
                        preferences or unsubscribe at any time. Please email info@onwards-and-
                        upwards.com or use the links at the bottom of the email alerts.</p>
                        <h4>Third Party Websites</h4>
                        <p>Our website contains links to other websites operated by third parties. Please note that this privacy notice applies only to the personal data that Onwards and Upwards Outdoor Adventures collects through its website. We cannot be responsible for the practices of third party websites, their privacy policy or the way they collect and handle personal data.<br>
                        We encourage you to read the privacy notice of any third party websites you visit.</p>
                        <h4>Cookies</h4>
                        <p>Like many other websites, the Onwards and Upwards Outdoor Adventures website uses cookies. ‘Cookies’ are small pieces of information sent by an organisation to your computer and stored on your hard drive to allow that website to recognise you when you visit. They collect statistical data about your browsing actions and patterns and do not identify you as an individual. For example, we use cookies to store your country preference. This helps us to improve our website and deliver a better more personalised service.
                        For further information about cookies, including how to refuse cookies, please visit: <span class="text-orange">www.allaboutcookies.org</span></p>
                        <h4>Complaints</h4>
                        <p>In the event that you wish to make a complaint about how your personal data is
                        being processed by Onwards and Upwards Outdoor Adventures (or third parties as described in the ‘Disclosure/Third Part Processing section above), or how your complaint has been handled, you have the right to lodge a complaint directly with the supervisory authority and Onwards and Upwards Outdoor Adventures data protection representatives / GDPR owner.<br>
                        The details for each of these contacts are:<br>
                        The Data Protection Officer, Onwards and Upwards Outdoor Adventures, 16 Long Grey, Fleckney, Leicestershire LE8 8TB or email <span class="text-orange">info@onwards-and-upwards.com</span>
                        The Information Commissioner’s Office: <a href="https://ico.org.uk/concerns/handling/" class="text-orange" target="_blank">https://ico.org.uk/concerns/handling/</a>
                        More information can be found at www.ico.org.uk</p>
                        <h4>What forms of ID will I need to provide in order to access this?</h4>
                        <p>Onwards and Upwards Outdoor Adventures accepts the following forms of ID when information on your personal data is requested:</p>
                        <ul>
                            <li>Passport</li>
                            <li>Driving License</li>
                            <li>Birth Certificate</li>
                            <li>Utility bill (dated within the last 3 months)</li>
                        </ul>
                        <h4>Review Of This Notice</h4>
                        <p>Please note that this notice will be reviewed periodically and amended accordingly to conform to any changes in legislation, regulations or guidelines. <br>This notice was last updated in March 2021.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row mb-3 font-futura-light">
            <div class="col-11 mx-auto">
                <h5 class="text-underline">Kit List</h5>
                <p class="ml-3">We request that you bring:</p>
                <ul class="ml-3">
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
                <p class="ml-3">We will provide:</p>
                <ul class="ml-3">
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
            </div>
        </div> -->
        <div class="row mb-3 font-futura-light">
            <div class="col-11 mx-auto text-center">
                <p>By proceeding, I acknowledge the risks described above.</p>
                {% if multiple %}
                <button class="onwards-button"><a href="{% url 'add_part_form' appointment.appointment_number %}?multiple=true&appId={{appStr}}">Register</a></button>
                {% else %}
                <button class="onwards-button"><a href="{% url 'add_part_form' appointment.appointment_number %}">Register</a></button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}