{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid body-container">
        <div class="row mb-3">
            <div class="col-11 mx-auto">
                <h3 class="text-underline">Kitlist</h3>
            </div>
        </div>
        <div class="row mb-3 font-futura-light">
            <div class="col-11 mx-auto">
                <h5 class="text-underline">{{ appointment.activity }} {{ appointment.course }}</h5>
                <h5>Unfortunately our kit list page is under construction.</h5>
                <h5>We appreciate your patience with this issues and we hope to have it resolved shortly.</h5>
            </div>
        </div>
        <div class="row mb-3 font-futura-light">
            <div class="col-11 mx-auto text-center">
                <button class="onwards-button"><a href="{% url 'risk_form_success' appointment.appointment_number partId %}">Go Back</a></button>
            </div>
        </div>
    </div>
{% endblock %}