{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}- View Participant{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="header-container row">
            <div class="col-11 mx-auto">
                <div class="row mb-3">
                    <div class="col-9 onwards-header">
                        <h3 class="d-inline-block"><a class="link-specs" href="{% url 'view_app' appointment.appointment_number %}">View Appointment</a></h3>
                        <i class="fas fa-chevron-right"></i>
                        <h4 class="link-sibling d-inline-block">View Participant</h4>
                    </div>
                    <div class="col-3 d-flex justify-content-end text-center">
                        <div class="tooltip-container d-inline-block float-right">
                            <span>Convert To Client</span><span> </span>
                            <button type="button" class="btn btn-light icon-btn" data-toggle="modal" data-target="#convertClientModal">
                                <i class="fas fa-share-square"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-client-container" class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <p>Full Name:</p>
                    </div>
                    <div class="col-6">
                        <p>{{ participant.first_name }} {{ participant.last_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Email Address:</p>
                    </div>
                    <div class="col-6">
                        <p>
                            {% if participant.email_address %}
                            {{ participant.email_address }}
                            {% else %}
                            N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Phone Number:</p>
                    </div>
                    <div class="col-6">
                        <p>
                            {{ participant.phone_number }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Address:</p>
                    </div>
                    <div class="col-6">
                        <p>
                            {{ participant.address_line1 }}
                        </p>
                        {% if participant.address_line2 %}
                        <p>{{ participant.address_line2 }}</p>
                        {% endif %}
                        {% if participant.address_line3 %}
                        <p>{{ participant.address_line3 }}</p>
                        {% endif %}
                        <p>{{ participant.town_or_city }}</p>
                        <p>{{ participant.postcode }}</p>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-6">
                        Risk Acknowledgement Forms
                    </div>
                    <!-- Risk Acknowledgement Forms Go Here -->
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/modals/convert_client.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $("#existing-client").click(function(){
            var partId = $("#partId-input").val();
            var clientId = $("#select-client").val()
            if(typeof(clientId) !== 'undefined'){
                var currentUrl = window.location.href;
                console.log(currentUrl)
                currentUrl = currentUrl.split("/")
                var newUrl = currentUrl.slice(0,-2);
                console.log(newUrl)
                var newStr = newUrl[0]+'/'+newUrl[1]+'/'+newUrl[2];
                newStr = newStr + `/clients/convert_to_client?newClient=false&partId=${partId}&clientId=${clientId}`
                window.location.href = newStr;
            }
        })
        $(".icon-btn").hover(function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeIn("fast");
        }, function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeOut("fast");
        })
    </script>
{% endblock %}