{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}- View Participant{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="header-container row">
            <div class="col-11 mx-auto">
                <div class="row mb-3">
                    <div class="col-9 onwards-header">
                        {% if appointment %}
                            <h3 class="d-inline-block"><a class="link-specs" href="{% url 'view_app' appointment.appointment_number %}">View Appointment</a></h3>
                        {% else %}
                            {% if client %}
                            <h3 class="d-inline-block"><a class="link-specs" href="{% url 'view_client' client.pk %}">View Client</a></h3>
                            {% else %}
                            <h3 class="d-inline-block"><a class="link-specs" href="{% url 'all_appointments' %}">All Appointments</a></h3>
                            {% endif %}
                        {% endif %}
                        <i class="fas fa-chevron-right"></i>
                        <h4 class="link-sibling d-inline-block">View Participant</h4>
                    </div>
                    <div class="col-3 d-flex justify-content-end text-center">
                        {% if not participant.client %}
                        <div class="tooltip-container d-inline-block float-right">
                            <span>Convert To Client</span><span> </span>
                            <button type="button" class="btn btn-light icon-btn" data-toggle="modal" data-target="#convertClientModal">
                                <i class="fas fa-share-square"></i>
                            </button>
                        </div>
                        {% else %}
                        <div class="tooltip-container d-inline-block float-right">
                            <span>View Client</span><span> </span>
                            <a href="{% url 'view_client' participant.client.pk %}" class="icon-btn"><i class="fas fa-user-tag"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="view-client-container" class="row">
            <div class="col-10 mx-auto">
                <h4 class="text-underline">Personal Details:</h4>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Full Name:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>{{ participant.first_name }} {{ participant.last_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Email Address:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {% if participant.email_address %}
                            {{ participant.email_address }}
                            {% else %}
                            N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Phone Number:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.phone_number }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Address:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.address_line1 }}
                        </p>
                        {% if participant.address_line2 %}
                        <p>{{ participant.address_line2 }}</p>
                        {% endif %}
                        {% if participant.address_line3 %}
                        <p>{{ participant.address_line3 }}</p>
                        {% endif %}
                        <p>{{ participant.town_or_city }}</p>
                        <p>{{ participant.postcode }}</p>
                    </div>
                </div>
                <h4 class="text-underline">Emergency Contact Details:</h4>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Emergency Contact Name:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.emergency_contact_name }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Emergency Contact Number:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.emergency_contact_number }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Declaration Of Illness:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.dec_illness }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Declaration Of Medication:</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        <p>
                            {{ participant.dec_medication }}
                        </p>
                    </div>
                </div>
                <div id="ra-form-container" class="row">
                    <div class="col-6 font-futura-medium">
                        <p>Risk Acknowledgement Forms</p>
                    </div>
                    <div class="col-6 font-futura-light">
                        {% if participant.manual_form %}
                        <div class="row">
                            <div class="col-12">
                            {% if appointment %}
                                <a href="{{ participant.manual_form.url }}" target="_blank" class="text-break">{{ participant.manual_form }}</a> <a class="text-danger mx-3" href="{% url 'delete_raform'  participant.pk %}?appId={{appointment.appointment_number}}"><i class="fas fa-minus-circle"></i></a>
                            {% else %}
                                <a href="{{ participant.manual_form.url }}" target="_blank" class="text-break">{{ participant.manual_form }}</a> <a class="text-danger mx-3" href="{% url 'delete_raform'  participant.pk %}"><i class="fas fa-minus-circle"></i></a>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                <!--<form action="{% url 'update_raform' participant.pk %}" method="POST" id="update_raform" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label class="onwards-button">Upload RA Form
                                        <input type="file" class="d-none" name="document" id="id_risk_form">
                                    </label>
                                    <span id="submit_raform" class="mx-3 d-none"><i class="fas fa-plus-circle text-success"></i></span>
                                    <p id="fileName" class="small"></p>
                                </form>-->
                            </div>
                            <div class="col-6">
                                <a href="{% url 'view_raform' participant.pk %}" class="onwards-button text-black d-inline-block align-middle" target="_blank">Generate PDF</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 font-futura-light">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/modals/convert_client.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $("#existing-client").click(function(){
            var partId = $("#partId-input").val();
            var clientId = $("#select-client").val();
            var appId = $("#appId-input").val();
            if(typeof(clientId) !== 'undefined'){
                var currentUrl = window.location.href;
                console.log(currentUrl)
                currentUrl = currentUrl.split("/")
                var newUrl = currentUrl.slice(0,-2);
                console.log(newUrl)
                var newStr = newUrl[0]+'/'+newUrl[1]+'/'+newUrl[2];
                newStr = newStr + `/clients/convert_to_client/${partId}?newClient=false&clientId=${clientId}&appId=${appId}`
                window.location.href = newStr;
            }
        })
        $(".icon-btn").hover(function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeIn("fast");
        }, function(){
            var testEl = $(this).parent().children("span");
            testEl.fadeOut("fast");
        });
        $("#id_risk_form").change(function(){
            var file = $("#id_risk_form")[0].files[0].name;
            $("#fileName").text(file);
            $("#submit_raform").removeClass("d-none");
        })
        $("#submit_raform").click(function(e){
            var file = $("#id_risk_form")[0].files[0];
            if(typeof(file) !== 'undefined'){
                $("#update_raform").submit();
            }
        })
    </script>
{% endblock %}