.modal{
    display: none;
    position: fixed;
    top: 100px;
    left: calc(50vw - 200px);
    height: auto;
    width: 400px;
    border-radius: 5px;
    padding: 0;
}
.modal-header{
    background-color: #FF8C08;
    border-color:black;
}
.modal-footer {
    border-color:black;
}
.modal .btn-light {
    box-sizing: border-box;
    border-color: black;
}
/* Date Picker */
#datepickerModal {
    width: 320px;
    background-color: #fff;
    position: absolute;
    top: 42px;
    z-index: 4;
    border: 1px solid rgba(42, 47, 54, 0.55);
}
#datepickerModal .datepicker-header {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}
#datepickerModal .datepicker-header p {
    color: #687485;
}
#datepickerModal .datepicker-content {
    width: 100%;
}
.datepicker-content table {
    width: 308px;
    margin: 0px 5px;
}
.datepicker-content table th, .datepicker-content table td{
    width: 44px;
    padding: 1px;
}
.datepicker-button {
    border: 0;
    background-color: #fff;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
#datepickerModal .datepicker-footer {
    height: 30px;
    width: 100%;
}