.modal{
    display: none;
    position: fixed;
    top: 100px;
    left: calc(50vw - 200px);
    height: auto;
    width: 400px;
    border-radius: 5px;
    padding: 0;
}
.modal-header{
    background-color: #FF8C08;
    border-color:black;
}
.modal-footer {
    border-color:black;
}
.modal .btn-light {
    box-sizing: border-box;
    border-color: black;
}
/* Date Picker */
#datepickerModal {
    z-index: 1050;
    width: 320px;
    background-color: #fff;
    position: absolute;
    display: none;
    top: 42px;
    left: 0;
    border: 1px solid rgba(42, 47, 54, 0.55);
    padding-right: 0px!important;
}
#datepickerModal.datepickerOpen {
    display: block;
}
#datepickerModal {
    margin: 0 auto;
}
#datepickerModal .datepicker-header {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}
#datepickerModal .datepicker-header p {
    color: #687485;
}
#viewMonthYear > div {
    position: relative;
}
#viewMonthYear > div p svg {
    opacity: 0;
    transition: 0.4s;
}
#viewMonthYear > div p:hover svg {
    opacity: 1;
}
#viewMonthYear .openDropdown p svg {
    opacity: 1;
    color: rgba(255, 140, 8, 0.8);
    transform: rotate(180deg);
}
.modal-dropdown {
    width: 75px;
    max-height: 306px;
    position: absolute;;
    top: 29.6px;
    background-color: #fff;
    border: 1px solid rgba(42, 47, 54, 0.55);
    overflow-y: auto;
}
.modal-dropdown:first-of-type {
    width: 95px;
}
.modal-dropdown div {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(42, 47, 54, 0.25);
}
.selectedMonth, .selectedYear {
    background-color: rgba(42, 47, 54,0.1);
}
.modal-dropdown div:last-of-type {
    border-bottom: 0px;
}
.modal-dropdown div:hover {
    background-color: rgba(42, 47, 54,0.1);
}
.modal-dropdown::-webkit-scrollbar {
  width: 5px;
}
.modal-dropdown::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.55); 
}
.modal-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,1);
}
.disabled-button svg{
    color: rgba(42, 47, 54,0.25)
}
#datepickerModal .datepicker-content {
    width: 100%;
}
.datepicker-content table {
    width: 308px;
    height: 275.2px;
    margin: 0px 5px;
}
.datepicker-content table th, .datepicker-content table td{
    width: 44px;
    padding: 1px;
}
.datepicker-button {
    border: 0;
    background-color: #fff;
    height: 42px;
    width: 42px;
    line-height: 42px;
    border-radius: 50%;
}
.datepicker-button.cell-disabled{
    color: rgba(42,47,54,0.3);
}
.date-selected{
    background-color: rgba(255, 140, 8, 0.8)!important;
    color: #fff;
}
.todays-date{
    background-color: rgba(42, 47, 54,0.3);
    color: #fff;
}
.datepicker-button:focus{
    outline: none;
}
#datepickerModal .datepicker-footer {
    width: 100%;
}