header {
    height: 60px;
    background-color: white;
    border-bottom: 5px solid black;
}
header > .row {
    height: 60px;
}
.logo-font {
    text-transform: uppercase;
}
.main-logo-link {
    width: fit-content;
    position: relative;
}
.nav-link {
    padding-left: 0;
    padding-right: 0;
}
.main-logo-link {
    line-height: 40px;
    color: black;
    transition: 0.5s;
}
.main-logo-link:hover{
    color: #ff8c08;
}
.main-logo-link p{
    display: inline-block;
    width: 350px;
    position: absolute;
    margin: 0;
    font-family: 'Arial';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.main-logo-link .logo {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 1.6px 10px;
    background-image: url("../../media/onwards-logo.svg");
}
.nav-link button {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    transition: 0.5s;
}
.nav-link button:hover {
    border-color: black;
}
.show .nav-link button {
    background-color: black;
    border-color: #ff8c08;
    color: #ff8c08;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-item:hover {
    background-color: rgba(0,0,0,0.8);
    color: #ff8c08;
}
.onwards-navbar .dropdown-menu{
    top: 2px!important;
}