.table {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #000;
    padding: 5px;
}
.table-hover tbody tr {
    transition: 0.4s;
}
.table-hover tbody tr:hover {
    background-color: hsla(32, 100%, 35%, 0.075);
}
thead {
    font-family: 'Futura Medium';
}
.table thead th {
    border-bottom: 1px solid #000;
    border-top-color: #000;
}
tbody {
    max-height: 185px;
    font-family: 'Futura Light';
    overflow-y: auto;
}
tr {
    height: 37px !important;
}
td a {
    color: #000 !important;
}
.table td.delete-btn {
    padding-top: 6px;
    padding-bottom: 6px;
}