<div id="datepickerModal">    
    <div class="datepicker-header d-flex justify-content-between">
        <div class="mx-3" id="prev-month-button" {% if past_dates %}date-past-dates="true" {% endif %}>
            <i class="fas fa-chevron-left"></i>
        </div>
        <div id="viewMonthYear">
            <div class="mr-3 d-inline-block dropdown-container">
                <p id="monthText"><span class="mr-2"></span><i class="fas fa-chevron-down"></i></p>
                <div class="d-none modal-dropdown font-futura-light" id="monthSelection">
                    <div data-month="1">January</div>
                    <div data-month="2">February</div>
                    <div data-month="3">March</div>
                    <div data-month="4">April</div>
                    <div data-month="5">May</div>
                    <div data-month="6">June</div>
                    <div data-month="7">July</div>
                    <div data-month="8">August</div>
                    <div data-month="9">September</div>
                    <div data-month="10">October</div>
                    <div data-month="11">November</div>
                    <div data-month="12">December</div>
                </div>
            </div>
            <div class="d-inline-block dropdown-container">
                <p id="yearText"><span class="mr-2"></span><i class="fas fa-chevron-down"></i></p>
                <div class="d-none modal-dropdown font-futura-light" id="yearSelection">
                </div>
            </div>
        </div>
        <div class="mx-3" id="next-month-button">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="datepicker-content text-center">
        <table>
            <thead class="font-futura-medium">
                <th>S</th>
                <th>M</th>
                <th>Tu</th>
                <th>W</th>
                <th>Th</th>
                <th>F</th>
                <th>S</th>
            </thead>
            <tbody class="font-futura-light">
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-footer">
        {% if add_app %}
            <div class="checkbox-input form-input d-flex justify-content-start mb-2 mx-auto">
                <p class="order-2">Multiple Dates?</p>
                <label class="ck-container order-1">
                    <input type="checkbox" name="multiple_dates" id="id_multiple_dates">
                    <span class="checkmark"></span>
                </label>
            </div>
        {% endif %}
        <div class="d-flex justify-content-around my-3">
            <span class="onwards-button text-black" id="cancel-date">Cancel</span>
            <span class="onwards-button text-black" id="today-date">Today</span>
            <span class="onwards-button text-black" id="confirm-date">Confirm</span>
        </div>
    </div>
</div>