<div id="datepickerModal">
    <div class="datepicker-header d-flex justify-content-around">
        <span class="mx-3">
            <i class="fas fa-chevron-left"></i>
        </span>
        <p class="d-inline-block">Month Year</p>
        <span class="mx-3">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
    <div class="datepicker-content text-center">
        <table>
            <thead class="font-futura-medium">
                <th>S</th>
                <th>M</th>
                <th>Tu</th>
                <th>W</th>
                <th>Th</th>
                <th>F</th>
                <th>S</th>
            </thead>
            <tbody class="font-futura-light">
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                    <td><button class="datepicker-button"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-footer d-flex justify-content-around">
        <span>Cancel</span>
        <span>Confirm</span>
    </div>
</div>