<div class="modal fade" id="datepickerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
    <div class="datepicker-header d-flex justify-content-between">
        <span class="mx-3" id="prev-month-button">
            <i class="fas fa-chevron-left"></i>
        </span>
        <p id="viewMonthText" class="d-inline-block"><span id="monthText">Month</span> <span id="yearText">Year</span></p>
        <span class="mx-3" id="next-month-button">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
    <div class="datepicker-content text-center">
        <table>
            <thead class="font-futura-medium">
                <th>S</th>
                <th>M</th>
                <th>Tu</th>
                <th>W</th>
                <th>Th</th>
                <th>F</th>
                <th>S</th>
            </thead>
            <tbody class="font-futura-light">
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
                <tr class="calendar-row">
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                    <td><button class="datepicker-button" type="button"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-footer">
        {% if add_app %}
        <div class="d-flex justify-content-center">
            <p class="d-inline-block">Multiple Dates?</p>
            <input type="checkbox" name="multiple_dates" id="id_multiple_dates">
        </div>
        {% endif %}
        <div class="d-flex justify-content-around">
            <span class="onwards-button text-black" id="cancel-date">Cancel</span>
            <span class="onwards-button text-black" id="confirm-date">Confirm</span>
        </div>
    </div>
    </div>
    </div>
</div>