{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block extra_title %}- Add Client{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3>Add Client</h3>
            </div>
        </div>
        <div class="row">
            <div id="new-client-form" class="col-11 mx-auto">
                <form method="POST" class="onwards-form mx-auto">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $(document).ready(function(){
            console.log("hello");
        })
    </script>
{% endblock %} 