{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="row">
            <div class="col mx-auto">
                <h3 class="d-inline-block">All Clients</h3>
                <a href="{% url 'add_client' %}" id="new-client-btn" class="d-inline-block float-right">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email Add.</th>
                        <th>Phone No.</th>
                        <th>Next Appt.</th>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>
                                <a href="{% url 'view_client' client.pk %}">
                                    <i class="fas fa-search"></i>
                                </a>
                            </td>
                            <td>{{ client.last_name }}</td>
                            <td>{{ client.first_name }}</td>
                            {% if client.email_address %}
                            <td>{{ client.email_address }}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            {% if client.phone_number %}
                            <td>{{ client.phone_number }}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            {% if client.next_appt %}
                            <td>{{ client.next_appt }}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $(document).ready(function(){
            console.log("hello");
        })
    </script>
{% endblock %} 