{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block extra_title %}- View Client{% endblock %}

{% block content %}
    <div class="body-container container-fluid">
        <div class="header-container row">
            <div class="col-11 mx-auto">
                <div class="row mb-3">
                    <div class="col-9 onwards-header">
                        <h3 class="d-inline-block"><a class="link-specs" href="{% url 'all_clients' %}">All Clients</a></h3>
                        <i class="fas fa-chevron-right"></i>
                        <h4 class="link-sibling d-inline-block">View Client</h4>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end text-center">
                        <a href="{% url 'add_app_w_client' client.id %}" class="icon-btn">
                            <i class="fas fa-calendar-plus"></i>
                        </a>
                        <a href="{% url 'edit_client' client.id %}" class="icon-btn">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-client-container" class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h4 class="text-underline">Client Details:</h4>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Full Name:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ client.first_name }} {{ client.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Email Address:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>
                                    {% if client.email_address %}
                                    {{ client.email_address }}
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Phone Number:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>
                                    {% if client.phone_number %}
                                    {{ client.phone_number }}
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Address:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>
                                    {% if client.street_address1 %}
                                    {{ client.street_address1 }}
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </p>
                                {% if client.street_address2 %}
                                <p>{{ client.street_address2 }}</p>
                                {% endif %}
                                {% if client.town_or_city %}
                                <p>{{ client.town_or_city }}</p>
                                {% endif %}
                                {% if client.postcode %}
                                <p>{{ client.postcode }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Additional Information:</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                {% if client.additional_info %}
                                    <p>{{ client.additional_info }}</p>
                                {% else %}
                                    <p>N/A</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                <p>Root Of Inquiry</p>
                            </div>
                            <div class="col-6 font-futura-light">
                                <p>{{ root_of_inquiry }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-futura-medium">
                                Risk Acknowledgement Forms
                            </div>
                            <div class="col-6 font-futura-light"></div>
                            <!-- Risk Acknowledgement Forms Go Here -->
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <p class="font-futura-medium">Upcoming Appointments</p>
                        {% if up_apps or up_part_apps %}
                        <table class="table">
                            <thead>
                                <th></th>
                                <th>Ref No.</th>
                                <th>Date</th>
                                <th>Activity</th>
                                <th>Participant?</th>
                            </thead>
                            <tbody>
                                {% for app in up_apps %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_app' app.appointment_number %}" class="text-black">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                        <td>{{ app.appointment_number }}</td>
                                        <td>{{ app.appointment_date }}</td>
                                        <td>{{ app.activity }} - {{ app.course }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                {% for app in up_part_apps %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_app' app.appointment_number %}">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                        <td>{{ app.appointment_number }}</td>
                                        <td>{{ app.appointment_date }}</td>
                                        <td>{{ app.activity }} - {{ app.course }}</td>
                                        <td>Participant</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="font-futura-light">This client has no upcoming appointments</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="font-futura-medium">Past Appointments</p>
                        {% if past_apps %}
                            <table class="table">
                            <thead>
                                <th></th>
                                <th>Ref No.</th>
                                <th>Date</th>
                                <th>Activity</th>
                            </thead>
                            <tbody>
                                {% for app in past_apps %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_app' app.appointment_number %}">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </td>
                                        <td>{{ app.appointment_number }}</td>
                                        <td>{{ app.appointment_date }}</td>
                                        <td>{{ app.activity }} - {{ app.course }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p class="font-futura-light">This client has no past appointments</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}